---
import { Icon } from 'astro-icon';
const {
	label = 'Toggle between Dark and Light mode',
	className = 'rounded-lg text-sm p-2.5 inline-flex items-center relative sw-text',
	iconNameSun = 'akar-icons:sun-fill',
	iconClassSun = 'w-6 h-6 transition duration-1000',
	iconNameMoon = 'akar-icons:moon-fill',
	iconClassMoon = 'w-6 h-6 absolute transition duration 1000'
} = Astro.props;
---

<button type="button" class={className} aria-label={label} data-sw-btn-toggle-theme>
	<Icon name={iconNameSun} class={iconClassSun} />
	<Icon name={iconNameMoon} class={iconClassMoon} />
</button>