---
import '@styles/toggle.scss'

// import { SiteLogo } from '@common/SiteLogo';

// import { MenuLinks } from '@common/MenuLinks';

// import ButtonToggleMenu from '@common/ButtonToggleMenu.astro';
// import ButtonToggleTheme from '@common/ButtonToggleTheme';

// const allProjects = await Astro.glob('/src/content/projects/**/*.md');
// const categories = [...new Set(allProjects.map(({ frontmatter }) => frontmatter.category))];

// const projects = categories.map((category) => ({
// 	href: `/projects/${category.toLowerCase()}`,
// 	label: category ?? 'Label',
// }));

// const allPolicies = await Astro.glob('/src/collections/policies/*.md');
// const policies = [...new Set(allPolicies.map(({ file }) => file?.split('/').reverse()[0].split('.')[0]))];

// const support = policies.map((policy) => ({
// 	href: `/${policy}`,
// 	label: policy?.toUpperCase() ?? 'Label',
// }));

// const menus = [
// 	{
// 		label: 'Projetos',
// 		links: [
// 			{
// 				href: '/projects',
// 				label: 'Portfolio',
// 			},
// 			...projects,
// 		],
// 	},
// 	{ label: 'Suporte', links: support },
// ];
---

<header class='sticky top-0 z-40 w-full md:backdrop-blur-sm shadow-md bg-sw-secondary/95 dark:bg-sw-primary/95'>
  <nav class='flex w-full h-14 justify-center items-center'>
    <div class='flex w-full spacewiz__container items-center justify-between'>
      <!-- <a class="w-48 spacewiz__fill" href="/" title="Space Wizard Studios">
				<span class="sr-only">Space Wizard Studios</span>
				<SiteLogo client:idle />
			</a> -->

      <!-- MOBILE -->
      <!-- <div class="flex flex-grow justify-end md:hidden gap-8">
				<ButtonToggleTheme client:idle />
				<ButtonToggleMenu />
			</div> -->

      <!-- DESKTOP -->
      <!-- <div class="hidden md:flex md:flex-grow justify-end">
				<MenuLinks menus={menus} client:idle />

				<div class="items-center md:flex">
					<ButtonToggleTheme client:idle />
				</div>
			</div> -->
    </div>
  </nav>

  <nav class='hidden absolute w-full spacewiz__container bg-sw-secondary' id='menu'>
    <ul class='flex flex-col p-4'>
      <!-- {
				menus.map(({ label, links }) => (
					<ul class="block pb-4">
						<li class="block p-1.5 rounded text-sw-coal-400 font-semibold">{label}</li>
						<ul>
							{links.map(({ href, label }) => (
								<li class="block p-1.5 pl-4 rounded text-sw-coal-400">
									<a href={href}>{label}</a>
								</li>
							))}
						</ul>
					</ul>
				))
			} -->
    </ul>
  </nav>
</header>
