---
import { Icon } from 'astro-icon';

import ToggleCard from '@atoms/ToggleCard';
import ToggleCardCanvas from '@atoms/ToggleCardCanvas';

export interface Props {
	iconSrc: string;
	iconColor: number;
	title: string;
	subtitle: string;
	description: string;
}

const { iconSrc, iconColor, title, subtitle, description } = Astro.props as Props;
---

<ToggleCard client:load>
	<ToggleCardCanvas modelPath={iconSrc} modelColor={iconColor} slot="cardIcon" client:load />
	<h2 slot="title" class="spacewiz__text--accent" set:html={title}></h2>
	<h3 slot="subtitle" class="spacewiz__text" set:html={subtitle}></h3>
	<p slot="description" class="spacewiz__text--reversed" set:html={description}></p>
	<Icon slot="buttonIconPlus" name="akar-icons:plus" class="w-6 h-6" />
	<Icon slot="buttonIconMinus" name="akar-icons:minus" class="w-6 h-6" />
</ToggleCard>
