---
import { Icon } from 'astro-icon';

export interface Props {
	photoSrc: string;
	name: string;
	roles: string[];
	skills: string[];
	links: {
		artstation?: string;
		github?: string;
		instagram?: string;
		imdb?: string;
		linkedin?: string;
		linktree?: string;
		portfolio?: string;
		soundcloud?: string;
		youtube?: string;
	};
}

const { photoSrc, name, roles, skills, links } = Astro.props as Props;
---

<div
	class="card card-compact shadow-lg relative overflow-visible bg-gradient-to-b from-sw-secondary-300 to-sw-secondary-600 dark:from-sw-primary-600 dark:to-sw-primary-800 text-sw-secondary-500"
>
	<div class="card-body place-items-center items-center relative">
		<div class="avatar -mt-8 absolute">
			<div class="w-24 rounded-full ring ring-sw-navy dark:ring-sw-flamingo ring-offset-base-100 ring-offset-2">
				<img src={photoSrc} />
			</div>
		</div>

		<div class="mt-20 w-full text-center">
			<h2 class="text-lg font-extrabold spacewiz__text">{name}</h2>
			<div class="my-2 text-sw-primary/60 dark:text-sw-secondary/60">
				{roles.map((r) => <p>{r}</p>)}
			</div>
		</div>

		<div class="mt-2 text-center">
			{
				skills.map((s) => (
					<span class="badge m-1 p-1 text-sw-primary dark:text-sw-secondary bg-sw-secondary-700 dark:bg-sw-primary-900 border-none">
						{s}
					</span>
				))
			}
		</div>

		<div class="card-actions justify-end">
			<div class="dropdown dropdown-top">
				<label tabindex="0" class="btn btn-circle m-1 bg-sw-navy dark:bg-sw-flamingo hover:bg-sw-navy-600 hover:dark:bg-sw-flamingo-600  text-sw-primary border-none">
					<Icon name="akar-icons:plus" class="w-6 h-6" />
				</label>
				<ul tabindex="0" class="dropdown-content menu p-2 shadow-md bg-base-100 rounded-box w-52">
					{
						links.artstation ? (
							<li>
								<a href={links.artstation}>Artstation</a>
							</li>
						) : null
					}
					{
						links.github ? (
							<li>
								<a href={links.github}>GitHub</a>
							</li>
						) : null
					}
					{
						links.instagram ? (
							<li>
								<a href={links.instagram}>Instagram</a>
							</li>
						) : null
					}
					{
						links.imdb ? (
							<li>
								<a href={links.imdb}>IMDb</a>
							</li>
						) : null
					}
					{
						links.linkedin ? (
							<li>
								<a href={links.linkedin}>LinkedIn</a>
							</li>
						) : null
					}
					{
						links.linktree ? (
							<li>
								<a href={links.linktree}>LinkTree</a>
							</li>
						) : null
					}
					{
						links.portfolio ? (
							<li>
								<a href={links.portfolio}>Portfólio</a>
							</li>
						) : null
					}
					{
						links.soundcloud ? (
							<li>
								<a href={links.soundcloud}>SoundCloud</a>
							</li>
						) : null
					}
					{
						links.youtube ? (
							<li>
								<a href={links.youtube}>YouTube</a>
							</li>
						) : null
					}
				</ul>
			</div>
		</div>
	</div>
</div>
